[tool.poetry]
name = "fortigate_api"
version = "1.2.3"
description = "Python package to configure Fortigate (Fortios) devices using REST API and SSH"
authors = ["Vladimir Prusakov <vladimir.prusakovs@gmail.com>"]
license = "MIT"
homepage = "https://github.com/vladimirs-git/fortigate-api"
repository = "https://github.com/vladimirs-git/fortigate-api"
readme = "README.rst"
keywords = ["fortigate", "api", "fortios", "firewall", "networking", "telecommunication"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Telecommunications Industry",
    # "Operating System :: FortiOS",
    "Topic :: System :: Networking :: Firewalls",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Natural Language :: English",
]
include = ["fortigate_api"]
[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.28"
netmiko = "^4.1"
ciscoconfparse = "^1.7"

[tool.poetry.dev-dependencies]
dictdiffer = "0.9.0"
mypy = "1.2.0"
pydocstyle = "6.3.0"
pylint = "2.13.9"
pytest = "7.3.1"
pytest-cov = "4.0.0"
restructuredtext-lint = "1.4.0"
twine = "4.0.2"
types-requests = "2.28.11.17"

[tool.poetry.extras]
test = ["pytest"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/vladimirs-git/fortigate-api/issues"
"Download URL" = "https://github.com/vladimirs-git/fortigate-api/archive/refs/tags/1.2.3.tar.gz"
