"""{{ docstring }}"""

from fortigate_api.fortigate import FortiGate
{%- for item in items %}
from fortigate_api.{{ scope_name }}.{{ item.app_name }}.{{ item.app_file }} import {{ item.app_class }}
{%- endfor %}


class {{ scope_class }}:
    """{{ docstring }}"""

    def __init__(self, fortigate: FortiGate, **kwargs):
        """Init {{ scope_class }}."""
        {% for item in items %}
        self.{{ item.app_name }} = {{ item.app_class }}(fortigate, **kwargs)
        """:py:class:`.{{ item.app_class }}` {{ item.path }} connectors."""
        {% endfor %}

